<ul>
    <li><a href="/CrearUsuario">Crear Usuarios</a></li>
    <li><a href="/">Ver Usuarios</a></li>
    <li><a href="/CrearMovil">Crear moviles</a></li>
    <li><a href="/moviles">Ver moviles</a></li>
    <li><a href="/login">Login</a></li>

</ul>


<style scoped>
ul{
    display: flex;
    background-color: #333;
    width: 90%;
    height: 80px;
    margin-top: 0;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 0
}
li {
    list-style: none;
    margin-right: 15%;
    text-decoration: none;
    margin-top: 2%;

}
a{
    text-decoration: none;
}
</style>