<body>
    {{> navbar}}
    <div>
        <form action="crearusuario" method="POST">
            <label>Nombre</label>
            <input type="text" name="nombre" id="" placeholder="nombre">
            
            <label>Apellido</label>
            <input type="text" name="apellido" id="" placeholder="apellido">
            
            <label>Email</label>
            <input type="text" name="email" id="" placeholder="email">
            
            <label>Contraseña</label>
            <input type="password" name="password" id="" placeholder="password">
            
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>

<style>  
*{
    box-sizing:border-box;
    }

body{
    background-color: rgb(153, 153, 153);
}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
    background-color: #333;
	margin:auto;
	margin-top: 10%;
    color: aliceblue;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

input{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}
button{
    justify-content: center;
    margin-left: 45%;
    margin-top: 10%;
}
</style>
