{{> navbar}}


<h1>{{nombre}} no tiene permiso</h1>
<a class="enlace" href="/login">Login</a>

<style scoped>
*{
    box-sizing:border-box;
    }

body{
    background-color: rgb(153, 153, 153);
}

h1{
	width:300px;
	padding:16px;
	border-radius:10px;
    background-color: #333;
	margin:auto;
	margin-top: 10%;
    color: aliceblue;
    margin-bottom: 10%;
}
.enlace{
	margin-top: 15%;
    color: black;
    margin-left: 47%;


}
</style>